<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/best.js"></script>
    <script src="/js/index.js"></script>

</head>
<body>
    <!-- 모달 레이아웃 -->
    <div class="modal_layout" th:replace="/include/header.html :: modal_layout"></div>
    <!-- 모달 레이아웃 -->
    <div class="wrap">
        <header th:replace="/include/header.html :: header"></header>
        <div class="contents">
            <div class="main_content">
    <!------------ 콘텐츠 영역   ------------------>
                <div class="ranking">
                    <ul class="category">
                        <li class="categoryMark" id="allnovel">전체</li>
                        <li class="categoryMark" id="freeNovel">무료</li>
                        <li class="categoryMark" id="primeNovel">프라임</li>
                        <li class="categoryMark" id="finNovel">완결</li>
                    </ul>
                    <ul class="ranking_list" >
                        <th:block th:each="novelList : ${novelVOList}">
                            <li>
                                <a th:href="@{/novelnet/novel(n_num=${novelList.n_num},page=1,sort='asc')}">
                                    <div class="ranking_img_zone">
                                        <img th:src="'../images/'+${novelList.n_cover}"  onerror="this.src='../img/write_cover.jpg'">
                                        <div class="ranking_num" th:text="${novelList.rnum}">1</div>
                                    </div>
                                    <div class="ranking_novel_title"><span class="rnt_inside overLineTypeA" th:title="${novelList.n_title}">[[${novelList.n_title}]]</span></div>
                                </a>
                                <div class="ranking_writer_name overLineTypeA"><a th:href="@{/novelnet/profill(user=${novelList.u_num})}" th:text="${novelList.nick}">작가명</a></div>
                                <div class="optTagbox">
                                    <div class="tagmark primeTag"   th:if="${novelList.n_type}=='prime'">프라임</div>
                                    <div class="tagmark dockjomTag" th:if="${novelList.n_monopoly}=='only'">독점</div>
                                    <div class="tagmark endTag"     th:if="${novelList.n_fin}=='done'">완결</div>
                                </div>
                                <div class="hrBox"></div>
                            </li>
                        </th:block>
                    </ul>
                    <div class="ranking_load">
                        <button class="ranking_load_button goNext" th:if="${next}!='stop'">NEXT 100</button>
                        <button class="ranking_load_button goPrev" th:if="${next}=='stop'">PREV 100</button>
                    </div>
                </div>
            <!------------ 콘텐츠 영역  ------------------>
            </div>
        </div>
    </div>
    <footer th:replace="/include/footer.html :: footer_layout"> </footer>
    
</body>
</html>