<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/imageChange.css">
</head>
<body>
    <div class="frameB">
        <div class="pic_base">
            <img src="../img/nover_cover.jpg">
            <div class="img_zone text-Y-aligne">
                이미지 비율을 [가로:1060px 세로:160px]로 맞춰주세요.
            </div>
        </div>
        <div class="control_base">
            <div class="file_zone">
                <input type="file" class="fileInput">
            </div>
        </div>
        <div class="button_zone">
            <button class="chang_Btn"> 이미지 변경</button>
        </div>
    </div>
</body>
</html>