<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>프로필 이미지 변경</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="frameA">
            <div class="pic_base">
                <img src="../img/nover_cover.jpg">
                <div class="img_zone"></div>
            </div>
            <div class="control_base">
                <div class="file_zone">
                    <input type="file" class="fileInput">
                </div>
            </div>
            <div class="button_zone">
                <button class="chang_Btn"> 이미지 변경</button>
            </div>
        </div>
    </body>
</html>