<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>관리자 페이지 - 유저관리</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/master/masterUserManage.js"></script>
    </head>
    <body>
        <div class="modal_layout" th:replace="/include/header.html :: modal_layout"></div>
        <div class="wrap">
            <header th:replace="/include/header.html :: header"></header>
            <div class="masterFrame">
                <ul class="masterMenu" th:if="${session.U_LEVEL}==9">
                    <li><a th:href="@{/master/novelDeclaration(page=1)}">소설 신고 목록</a></li>
                    <li><a th:href="@{/master/replyDeclaration(page=1)}">댓글 신고 목록</a></li>
                    <li><a th:href="@{/master/userManagement(page=1)}">유저 관리</a></li>
                    <li><a th:href="@{/master/novelManagement(page=1)}">소설관리</a></li>
                    <li><a th:href="@{/master/notification(page=1)}">공지</a></li>
                </ul>
                <div class="masterSearch">
                    <div class="leftSearchSpace">
                        <select name="searchOtp" id="searchOtp">
                            <option value="nick" th:selected="${searchType}=='nick'">닉네임</option>
                            <option value="mail" th:selected="${searchType}=='mail'">메일</option>
                        </select>
                        <input type="text" class="searchSpace" th:value="${param.keyword}">
                    </div>
                    <div class="rightSearchSpace">
                        <button id="masterSearchbtn">검색</button>
                    </div>
                </div>
                <div class="masterUserSort">
                    <div class="leftSearchSpace">
                        <select name="sortOtp" id="sortOtp">
                            <option value="date"    th:selected="${sort}=='date'">최근 가입한 순서</option>
                            <option value="reRcntA" th:selected="${sort}=='reRcntA'">댓글 : 신고받은 수(적은순)</option>
                            <option value="reRcntD" th:selected="${sort}=='reRcntD'">댓글 : 신고받은 수(많은순)</option>
                            <option value="goRcntA" th:selected="${sort}=='goRcntA'">댓글 : 신고한 수(적은순)</option>
                            <option value="goRcntD" th:selected="${sort}=='goRcntD'">댓글 : 신고한 수(많은순)</option>
                            <option value="reNcntA" th:selected="${sort}=='reNcntA'">소설 : 신고받은 수(적은순)</option>
                            <option value="reNcntD" th:selected="${sort}=='reNcntD'">소설 : 신고받은 수(많은순)</option>
                            <option value="goNcntA" th:selected="${sort}=='goNcntA'">소설 : 신고한 수(적은순)</option>
                            <option value="goNcntD" th:selected="${sort}=='goNcntD'">소설 : 신고한 수(많은순)</option>
                            <option value="stop"    th:selected="${sort}=='stop'">정지 유저</option>
                            <option value="alive"   th:selected="${sort}=='alive'">미정지 유저</option>
                            <option value="noOk"    th:selected="${sort}=='noOk'">미인증 유저</option>
                        </select>
                    </div>
                </div>
                <div class="anvoerline"></div>
                <div class="master_userManagement">
                    <ul class="warning_memo">
                        <li class="borderLine_black" th:each="list : ${list}">
                            <div class="mw_LeftSide">
                                <div class="mw_shingoLine">
                                    <div class="mw_userImageZone">
                                        <button th:value="${list.u_pic}">
                                            <img th:if="${list.u_pic}==null" src="../img/profill.png">
                                            <img th:if="${list.u_pic}!=null" th:src="'../userimg/'+${list.u_pic}" th:alt="${list.u_nick}" onerror="this.src='../img/profill.png'">
                                        </button>
                                    </div>
                                    <div class="mw_userNickName">
                                        <a th:href="@{/novelnet/profill(user=${list.u_num})}" th:text="'[ '+${list.u_mail}+ ' ]'"></a>
                                        <span th:if="${list.u_level}=='1'">(정지)</span>
                                        <span th:if="${list.u_ok}=='0'">(미인증)</span>
                                    </div>
                                </div>
                                <div class="mw_profillLine">
                                    <div class="mw_userNick"><a th:href="@{/novelnet/profill(user=${list.u_num})}" th:text="${list.u_nick}"></a></div>
                                    <div class="mw_date" th:text="${list.u_regdate}"></div>
                                </div>
                                <div class="mw_titleLine">
                                    <div class="mw_warningTitelUp">신고 현황</div>
                                    <div class="mw_warningTitel">
                                        <span th:text="'▶ 소설 : 신고수 '+${list.goNcnt}+' 회 / '"></span>
                                        <span th:text="'신고받음 '+${list.reNcnt}+' 회'"></span>
                                        <br>
                                        <span th:text="'▶ 댓글 : 신고수 '+${list.goRcnt}+' 회 / '"></span>
                                        <span th:text="'신고받음 '+${list.reRcnt}+' 회'"></span>
                                    </div>
                                </div>
                                <div class="mw_myself" th:text="${list.u_myself}">자기소개</div>
                            </div>
                            <div class="mw_SwitchSide borderLeft_black">
                                <div class="levelChangeZone">
                                    <select name="levelChange" id="levelChange" th:class="'levelChange_'+${list.u_num}">
                                        <option th:value="0" th:selected="${list.u_level}==0">일반</option>
                                        <option th:value="1" th:selected="${list.u_level}==1">정지</option>
                                        <option th:value="9" th:selected="${list.u_level}==9" th:if="${list.u_ok}==1">관리</option>
                                    </select>
                                    <button class="levelChangeOK levbtn" th:value="${list.u_num}">변경</button>
                                </div>
                                <div class="button_zone">
                                    <button class="mw_GoMypageBtn button13" th:onclick="|location.href='@{/novelnet/profill(user=${list.u_num})}'|">마이페이지</button>
                                    <button class="mw_UserOutBtn button13"  th:if="${list.u_ok}==0" th:value="${list.u_num}">유저 삭제</button>
                                    <button class="mw_UserStopBtn button13"  id="mw_UserDown" th:if="${list.u_ok}==1 and ${list.u_level}==0" th:value="${list.u_num}">유저 정지</button>
                                    <button class="mw_UserAliveBtn button13" id="mw_UserUp"   th:if="${list.u_ok}==1 and ${list.u_level}==1" th:value="${list.u_num}">정지 해제</button>
                                    <button class="mw_seeNovelBtn button10" th:onclick="|location.href='@{/master/novelDeclaration(searchType=userNum,keyword=${list.u_num})}'|">소설 신고 목록</button>
                                    <button class="mw_seeReplyBtn button10" th:onclick="|location.href='@{/master/replyDeclaration(searchType=userNum,keyword=${list.u_num})}'|">댓글 신고 목록</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="paging">
                        <div class="paging_box">
                            <div class="paging_left">
                                <th:block th:if="${paging.nowCase}!=1">
                                    <div class="paging_card"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=1)}">←</a></div>
                                    <div class="paging_card"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=${paging.leftPage})}">◁</a></div>
                                </th:block>
                            </div>
                            <div class="paging_num">
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+1)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+1"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+1))}" th:text="(${paging.nowCase}-1)*5+1">1</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+2)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+2"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+2))}" th:text="(${paging.nowCase}-1)*5+2">2</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+3)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+3"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+3))}" th:text="(${paging.nowCase}-1)*5+3">3</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+4)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+4"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+4))}" th:text="(${paging.nowCase}-1)*5+4">4</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+5)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+5"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+5))}" th:text="(${paging.nowCase}-1)*5+5">5</a></div>
                            </div>
                            <div class="paging_right">
                                <th:block th:if="${paging.nowCase} < ${paging.allCase} and ${paging.allCase} > 0">
                                    <div class="paging_card"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase})*5+1))}">▷</a></div>
                                    <div class="paging_card"><a th:href="@{/master/userManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.displayPage})))}">→</a></div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/include/footer.html :: footer_layout"> </footer>
    </body>
</html>