<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>관리자 페이지</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.6.0.min.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/master/master.js"></script>
    </head>
    <body>
        <div class="modal_layout" th:replace="/include/header.html :: modal_layout"></div>
        <div class="wrap">
            <header th:replace="/include/header.html :: header"></header>
            <div class="masterFrame">
                <ul class="masterMenu">
                    <li><a th:href="@{/master/novelDeclaration(page=1)}">소설 신고 목록</a></li>
                    <li><a th:href="@{/master/replyDeclaration(page=1)}">댓글 신고 목록</a></li>
                    <li><a th:href="@{/master/userManagement(page=1)}">유저 관리</a></li>
                    <li><a th:href="@{/master/novelManagement(page=1)}">소설관리</a></li>
                    <li><a th:href="@{/master/notification(page=1)}">공지</a></li>
                </ul>
                <div class="masterSearch">
                    <div class="leftSearchSpace">
                        <select name="searchOtp" id="searchOtp">
                            <option value="wNick" th:selected="${searchType}=='wNick'">닉네임</option>
                            <option value="title" th:selected="${searchType}=='title'">소설제목</option>
                            <option value="nick"  th:selected="${searchType}=='nick'">신고자</option>
                            <option value="novelNum"  th:selected="${searchType}=='novelNum'">소설번호</option>
                            <option value="userNum"  th:selected="${searchType}=='userNum'">유저번호</option>
                        </select>
                        <input type="text" class="searchSpace" th:id="searchSpace" th:value="${param.keyword}">
                    </div>
                    <div class="rightSearchSpace">
                        <button id="masterSearchbtn">검색</button>
                    </div>
                </div>
                <div class="anvoerline" th:if="${paging.allPage}==0"></div>
                <div class="master_novelWarning">
                    <ul class="warning_memo">
                        <th:block th:each="list : ${list}">
                            <li class="borderLine_black">
                                <div class="mw_LeftSide">
                                    <div class="mw_shingoLine">
                                        <div class="SingoName" th:if="${list.nick}==null">존재하지 않는 사용자입니다.</div>
                                        <div class="SingoName" th:unless="${list.nick}==null">신고자 : [[${list.nick}]]</div>
                                    </div>
                                    <div class="mw_titleLine">
                                        <div class="mw_novelTitle" th:if="${list.n_title}!=null">
                                            <a th:href="@{/novelnet/novel(n_num=${list.n_num},page=1,sort='asc')}" th:text="${list.n_title}">소설 제목</a>
                                        </div>
                                        <div class="mw_novelTitle" th:unless="${list.n_title}!=null">
                                            <a>삭제된 소설입니다.</a>
                                        </div>
                                        <div class="mw_memoTitel" th:if="${list.m_title}!=null">
                                            <a th:href="@{/novelnet/view(n_num=${list.n_num},chapter=${list.m_num},sort='asc',page='1')}" th:utext="${list.m_title}"></a>
                                        </div>
                                        <div class="mw_memoTitel" th:unless="${list.m_title}!=null">
                                            <a>삭제된 챕터입니다.</a>
                                        </div>
                                    </div>
                                    <div class="mw_profillLine">
                                        <div class="mw_userNick typeNick" th:if="${list.wNick}!=null">
                                            <a th:href="@{/novelnet/profill(user=${list.wU_num})}" th:text="${list.wNick}"></a>
                                            <span th:if="${list.U_LEVEL}=='1'">(정지)</span>
                                        </div>
                                        <div class="mw_userNick typeMail" th:if="${list.wNick}!=null">
                                            <a th:href="@{/novelnet/profill(user=${list.wU_num})}" th:text="${list.wU_mail}"></a><span th:if="${list.U_LEVEL}=='1'">(정지)</span>
                                        </div>
                                        <div class="mw_userNick" th:if="${list.wNick}==null">(존재하지 않는 유저입니다)</div>
                                        <div class="mw_date" th:text="${list.mw_date}">19.10.05</div>
                                    </div>
                                    <div class="mw_why" th:text="${list.w_why}"></div>
                                </div>
                                <div class="mw_SwitchSide borderLeft_black">
                                    <div class="mw_WarnningCnt">누적 :<span th:text="${list.b_stop}+'회'">10회</span></div>
                                    <button class="mw_UserDelBtn"   id="mw_UserDown"  th:value="${list.wU_num}" th:if="${list.U_LEVEL}=='0' and ${list.wU_num}!=null">유저 정지</button>
                                    <button class="mw_UserDelBtn"   id="mw_UserUp"    th:value="${list.wU_num}" th:if="${list.U_LEVEL}=='1' and ${list.wU_num}!=null">정지 해제</button>
                                    <button class="mw_WarnningDelBtn" th:value="${list.mw_num}">경고 삭제</button>
                                    <button class="mw_novelSet"       th:value="${list.n_num}">경고 모아보기</button>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                    <div class="paging">
                        <div class="paging_box">
                            <div class="paging_left">
                                <th:block th:if="${paging.nowCase}!=1">
                                    <div class="paging_card"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=1)}">←</a></div>
                                    <div class="paging_card"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=${paging.leftPage})}">◁</a></div>
                                </th:block>
                            </div>
                            <div class="paging_num">
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+1)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+1"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.nowCase}-1)*5+1))}" th:text="(${paging.nowCase}-1)*5+1">1</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+2)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+2"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.nowCase}-1)*5+2))}" th:text="(${paging.nowCase}-1)*5+2">2</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+3)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+3"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.nowCase}-1)*5+3))}" th:text="(${paging.nowCase}-1)*5+3">3</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+4)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+4"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.nowCase}-1)*5+4))}" th:text="(${paging.nowCase}-1)*5+4">4</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+5)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+5"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.nowCase}-1)*5+5))}" th:text="(${paging.nowCase}-1)*5+5">5</a></div>
                            </div>
                            <div class="paging_right">
                                <th:block th:if="${paging.nowCase} < ${paging.allCase} and ${paging.allCase} > 0">
                                    <div class="paging_card"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.nowCase})*5+1))}">▷</a></div>
                                    <div class="paging_card"><a th:href="@{/master/novelDeclaration(searchType=${param.searchType},keyword=${param.keyword},page=((${paging.displayPage})))}">→</a></div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/include/footer.html :: footer_layout"> </footer>
    </body>
</html>