<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/master/masterNovelManage.js"></script>
</head>
    <body>
    <div class="modal_layout" th:replace="/include/header.html :: modal_layout"></div>
    <div class="wrap">
            <header th:replace="/include/header.html :: header"></header>
            <div class="masterFrame">
                <ul class="masterMenu">
                    <li><a th:href="@{/master/novelDeclaration(page=1)}">소설 신고 목록</a></li>
                    <li><a th:href="@{/master/replyDeclaration(page=1)}">댓글 신고 목록</a></li>
                    <li><a th:href="@{/master/userManagement(page=1)}">유저 관리</a></li>
                    <li><a th:href="@{/master/novelManagement(page=1)}">소설관리</a></li>
                    <li><a th:href="@{/master/notification(page=1)}">공지</a></li>
                </ul>
                <div class="masterSearch">
                    <div class="leftSearchSpace">
                        <select name="searchOtp" id="searchOtp">
                            <option value="nick">닉네임</option>
                            <option value="title">소설제목</option>
                            <option value="tag">태그</option>
                        </select>
                        <input type="text" id="searchSpace">
                    </div>
                    <div class="rightSearchSpace">
                        <button id="masterSearchbtn">검색</button>
                    </div>
                </div>
                <div class="masterSort">
                    <div class="leftSearchSpace">
                        <select name="sortOtp" id="sortOtp">
                            <option value="all">전체</option>
                            <option value="shingoD">신고수(내림차순)</option>
                            <option value="shingoA">신고수(오름차순)</option>
                            <option value="stop">정지</option>
                        </select>
                    </div>
                </div>

                <div class="masterChoiceSwitch">▼ PD픽 리스트</div>
                <ul class="masterChoice">
                    <li th:each="pdPick : ${pdPick}">
                        <div class="pdChoiceName maxHightOpt1" th:text="${pdPick.number}+'. '+${pdPick.n_title}"></div>
                        <div class="pdChoiceBtnZone"><button class="delPDpick pdDelBtn"th:value="${pdPick.n_num}">삭제</button> </div>
                    </li>
                </ul>

                <div class="anvoerline" th:if="${paging.allPage}==0"></div>
                <div class="master_novelManagement">
                    <ul class="novelManagement_List">
                        <li class="borderLine_black" th:each="list : ${list}" >
                            <div class="picSide">
                                <a th:href="@{/novelnet/novel(n_num=${list.n_num},page=1,sort='asc')}">
                                    <img th:src="'../noteImg/'+${list.n_cover}" th:alt="${list.n_title}" onerror="this.src='../img/write_cover.jpg'">
                                </a>
                            </div>
                            <div class="mw_LeftSide">
                                <div class="mw_titleLine">
                                    <div class="mw_novelTitle">
                                        <a th:href="@{/novelnet/novel(n_num=${list.n_num},page=1,sort='asc')}" th:text="${list.n_title}">
                                            제목입니다
                                        </a>
                                    </div>
                                </div>
                                <div class="mw_profillLine">
                                    <div class="mw_mailData" th:utext="${list.nick} + ' <span>('+${list.u_mail}+')</span>'">
                                    </div>
                                    <div class="mw_miniFrame mw_good" th:text="'추천 '+${list.n_good}">추천 100</div>
                                    <div class="mw_miniFrame mw_viww" th:text="${list.n_count}+ '뷰'">1000 뷰</div>
                                    <div class="mw_miniFrame mw_stop" th:text="${list.shingoCnt}+' 신고'">50 신고</div>
                                </div>
                                <div class="mw_novelPri maxHightOpt4" th:text="${list.n_introduction}">소설 줄거리</div>
                                <div class="mw_noveltag "th:utext="${list.all_tag}">
                                </div>
                            </div>
                            <div class="mw_SwitchSide borderLeft_black">
                                <button class="mw_ImgChangeBtn"     th:value="${list.n_cover}">이미지 변경</button>
                                <button class="mw_PdPickBtn"        th:if="${list.pd_num}==0" th:value="${list.n_num}">  Pd픽 선정</button>
                                <button class="mw_pdDelBtn pdDelBtn"th:if="${list.pd_num}!=0" th:value="${list.n_num}">  Pd픽 삭제</button>
                                <button class="mw_novelStopBtn"     th:if="${list.stopPoint}==0" th:value="${list.n_num}">소설 정지</button>
                                <button class="mw_novelOnBtn"       th:if="${list.stopPoint}>0"  th:value="${list.n_num}">정지 해제</button>
                                <button class="mw_UserDelBtn mw_UserDown"     th:value="${list.u_num}" th:if="${list.u_level}=='0'">유저 강등</button>
                                <button class="mw_UserDelBtn mw_UserUp"       th:value="${list.u_num}" th:if="${list.u_level}=='1'">강등 해제</button>
                            </div>
                        </li>
                    </ul>
                    <div class="paging">
                        <div class="paging_box">
                            <div class="paging_left">
                                <th:block th:if="${paging.nowCase}!=1">
                                    <div class="paging_card"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=1)}">←</a></div>
                                    <div class="paging_card"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=${paging.leftPage})}">◁</a></div>
                                </th:block>
                            </div>
                            <div class="paging_num">
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+1)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+1"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+1))}" th:text="(${paging.nowCase}-1)*5+1">1</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+2)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+2"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+2))}" th:text="(${paging.nowCase}-1)*5+2">2</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+3)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+3"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+3))}" th:text="(${paging.nowCase}-1)*5+3">3</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+4)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+4"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+4))}" th:text="(${paging.nowCase}-1)*5+4">4</a></div>
                                <div class="paging_card" th:id="'cardNum_'+((${paging.nowCase}-1)*5+5)" th:if="${paging.allPage}>=(${paging.nowCase}-1)*5+5"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase}-1)*5+5))}" th:text="(${paging.nowCase}-1)*5+5">5</a></div>
                            </div>
                            <div class="paging_right">
                                <th:block th:if="${paging.nowCase} < ${paging.allCase} and ${paging.allCase} > 0">
                                    <div class="paging_card"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.nowCase})*5+1))}">▷</a></div>
                                    <div class="paging_card"><a th:href="@{/master/novelManagement(searchType=${param.searchType},keyword=${param.keyword},sort=${param.sort},page=((${paging.displayPage})))}">→</a></div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="/include/footer.html :: footer_layout"> </footer>
    </body>
</html>