<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 책장</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/modal.js"></script>
</head>
<body>
    <!-- 모달 레이아웃 -->
    <div class="modal_layout" th:replace="/include/header.html :: modal_layout"></div>
    <!-- 모달 레이아웃 -->
    <div class="wrap">
        <header th:replace="/include/header.html :: header"></header>
        <div class="contents">
            <div class="main_content">
        <!------------ 콘텐츠 영역   ------------------>
                <div class="search_change">
                    <div class="book_all book_box book_none">전체</div>
                    <div class="book_new book_box book_choose">연재중</div>
                    <div class="book_fin book_box book_none">완결</div>
                </div>
                <div class="search_menu">
                    <div class="search_date">
                        <div class="search_count">총 3개 작품</div>
                    </div>
                    <div class="tag_box">
                        <div class="search_zone">
                            <input type="text" class="booksearch" placeholder="소설검색">
                            <div class="search_sort">
                                <select name="sort_what" id="sort_what">
                                    <option value="new" selected>업데이트 순</option>
                                    <option value="old">오래된 순</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="book_list">
                    <th:block th:each="novelList : ${novelList}">
                        <div class="search_novel" th:if="${novelList.n_stop} < 6">
                            <div class="novel_img">
                                <a th:href="@{/novelnet/novel(n_num=${novelList.n_num},page=1,sort='asc')}">
                                    <img th:src="'../noteImg/'+${novelList.n_cover}" th:alt="${novelList.n_title}" onerror="this.src='../img/write_cover.jpg'">                            </div>
                                </a>
                            <div class="up_tag">
                                <img src="../img/up.png" alt="up!">
                            </div>
                            <div class="novel_data">
                                <div class="searched_title">
                                    <div class="st_title" th:text="${novelList.n_title}">소설제목</div>
                                    <div class="st_writter" th:text="${novelList.nick}">작가명</div>
                                    <div class="delete_button"><img src="../img/delete_button.png" alt="삭제"></div>
                                </div>
                                <div class="searched_pri" th:text="${novelList.n_introduction}">
                                    소설 줄거리
                                </div>
                                <ul class="searched_count">
                                    <li>
                                        <img src="../img/count_view.png" alt="조회수" th:if="${novelList.n_count == null}" th:text="0명">
                                        <img src="../img/count_view.png" alt="조회수" th:if="${novelList.n_count != null}" th:text="${novelList.n_count}+'명'">
                                    </li>
                                    <li>
                                        <img src="../img/count_book.png" alt="회차" th:if="${novelList.n_chapters == null}" th:text="0회차">
                                        <img src="../img/count_book.png" alt="회차" th:if="${novelList.n_chapters != null}" th:text="${novelList.n_chapters}+'회차'">
                                    </li>
                                    <li>
                                        <img src="../img/count_good.png" alt="추천" th:if="${novelList.n_good == null}" th:text="0회">
                                        <img src="../img/count_good.png" alt="추천" th:if="${novelList.n_good != null}" th:text="${novelList.n_good}+'회'">
                                    </li>
                                </ul>
                                <div class="searched_tag" th:text="${novelList.all_tag}">
                                    <div class="searched_tagcard">#아카데미</div>
                                    <div class="searched_tagcard">#현대</div>
                                </div>
                                <div class="searched_time">6분전 UP</div>
                                <div class="book_next" th:if="${novelList.n_chapters} != null and ${novelList.n_chapters}>${novelList.rnum}">다음화</div>
                                <div class="no_update" th:if="${novelList.n_chapters} == null or  ${novelList.n_chapters}==${novelList.rnum}">신규회차 없음</div>
                                <div class="last_read" th:if="${novelList.last_chapter} != null">
                                    <a th:href="@{/novelnet/view(n_num=${novelList.n_num},chapter=${novelList.last_chapter},sort=${sort},page=${nowPage})}" th:text="' Ep '+${novelList.rnum}+' 화 '"></a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="paging">
                    <div class="paging_box">
                        <div class="paging_left">
                            <div class="paging_card">←</div>
                            <div class="paging_card">◁</div>
                        </div>
                        <div class="paging_num">
                            <div class="paging_card">1</div>
                            <div class="paging_card">2</div>
                            <div class="paging_card">3</div>
                            <div class="paging_card">4</div>
                            <div class="paging_card">5</div>
                        </div>
                        <div class="paging_right">
                            <div class="paging_card">▷</div>
                            <div class="paging_card">→</div>
                        </div>
                    </div>
                </div>
        <!------------ 콘텐츠 영역  ------------------>
            </div>
        </div>
    </div>
    <footer>
        <div class="notice">
            <div class="notice_frame">
                <span class="notice_memo_gong"><b>공지</b></span>
                <div class="new_gong">new</div>
                <span class="notice_memo">정기 시스템 점검 예정 (AM 01:00 - 04:00)</span>
            </div>
        </div>
        <div class="footer_info">
            <div class="footer_info_frame">
                <div class="copyright">
                    <div class="mono_logo"> 
                        <img src="../img/mono_logo.png">
                    </div>
                    <ul class="copyright_c">
                        <li>본 사이트의 등록된 컨텐츠는 사이트 및 원 저작자에게 권리가 있는 컨텐츠이며, 무단 복제/전송/수정/배포는 법적 처벌을 받을 수 있습니다.</li>
                        <li><span class="copyright_c_mini">Copyright(c) 노벨넷 2022. All rights reserved</span></li>
                    </ul>
                </div>
                <ul class="copyright_memo">
                    <li>주식회사 노벨넷 대표 김정현 사업자등록번호 210-81-75711 통신판매업 제2021-김제요촌-013145호</li>
                    <li>주소 김제시 요촌동 81-42번지, T플로어 3층</li>
                    <li>고객센터 : 063-588-0011 helpNovel@gmail.com 운영시간 AM10:00 - PM 06:00 (휴게시간 PM 0:30 - 2:00)</li>
                </ul>
            </div>  
        </div>
    </footer>
    
</body>
</html>