<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/modal.js"></script>
</head>
<body>
    <!-- 모달 레이아웃 -->
    <div class="modal_layout" th:replace="/include/header.html :: modal_layout"></div>
    <!-- 모달 레이아웃 -->
    <div class="wrap">
        <header th:replace="/include/header.html :: header"></header>

<!------------------- 마이페이지용 ------------------------->
        <div class="profile_bag"></div>
<!------------------- 마이페이지용 ------------------------->

        <div class="contents">
            <div class="main_content">
        <!------------ 콘텐츠 영역   ------------------>
                <div class="profile">
                    <div class="profile_data">
                        <div class="profil_pic">
                            <img src="../img/profill.png" alt="프로필" >
                        </div>
                        <div class="pic_edit">
                            <img src="../img/edit_icon.png" alt="set">
                        </div>
                        <div class="profil_name">구독자 님의 회원카드</div>
                        <ul class="profil_menu">
                            <li>프로필</li>
                            <li>연재소설</li>
                            <li>댓글</li>
                            <li>정보관리</li>
                        </ul>
                    </div>
                </div> 
                <div class="profile_main">
                    <div class="my_novel">
                        <div class="my_novels"><h3>구독자 님의 소설</h3></div>
                        <ul class="novel_list">
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>
                            <li> <b>아카데미</b> <span class="up_date">8월 27일</span> </li>

                        </ul>
                    </div>
                    <div class="myself">
                        <div class="self_intro">
                            <div class="sf_intro">자기소개</div>
                            <div class="my_intro">s</div>
                        </div>
                        <ul class="self_info">
                            <li>
                                <div class="sf_date title_position">가입일</div>
                                <div class="join_date text_position">2022년 2월 12일</div>
                            </li>
                            <li>
                                <div class="sf_bestpic title_position">선호장르</div>
                                <div class="my_bestpic text_position">무협</div>
                            </li>
                            <li>
                                <div class="sf_novel_info title_position">총 댓글</div>
                                <div class="my_novel_info text_position">125 개</div>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="serialized_info">
                    <ul class="info_change">
                        <li>
                            <div class="change_box">닉네임</div>
                            <div class="change_nick">
                                <input type="text" class="nick" placeholder="닉네임을 입력해주세요.">
                            </div>
                        </li>
                        <li>
                            <div class="change_box">비밀번호</div>
                            <div class="change_password">
                                <input type="password" class="password">
                                <span>7자 이상 12자 이하의 비밀번호를 입력해주세요.</span>
                            </div>
                        </li>
                        <li>
                            <div class="change_box">비밀번호</div>
                            <div class="change_passcheck">
                                <input type="password" class="passcheck">
                                <span>비밀번호가 일치합니다.</span>
                            </div>
                        </li>
                        <li>
                            <div class="change_box">이메일</div>
                            <div class="change_mail">
                                e-mail@ruu.kr
                            </div>
                        </li>
                        <li>
                            <div class="change_box">자기소개</div>
                            <div class="change_intro">
                                <textarea name="intro" id="intro" placeholder="자기소개"></textarea>
                            </div>
                        </li>
                        <li>
                            <div class="change_commit">
                                <button type="submit" class="change_ok">정보 수정</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="serialized_novel">
                    <div class="list_up">
                        <div class="lu_box">
                            <div class="lu_img">
                                <img src="../img/nover_cover.jpg" alt="표지">
                            </div>
                            <div class="lu_data">
                                <div class="lu_title">소설제목<span>작가명</span></div>
                                <div class="lu_pri">전회차까지의 이야기</div>
                                <ul class="lu_record">
                                    <li><img src="../img/count_view.png" alt="조회수">1003명</li>
                                    <li><img src="../img/count_book.png" alt="구독">12회차</li>
                                    <li><img src="../img/count_good.png" alt="추천">50회</li>
                                </ul>
                                <div class="lu_tag">
                                    <div class="lu_tagcards">#현대</div>
                                    <div class="lu_update">24분전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="list_up">
                        <div class="lu_box">
                            <div class="lu_img">
                                <img src="../img/nover_cover.jpg" alt="표지">
                            </div>
                            <div class="lu_data">
                                <div class="lu_title">소설제목<span>작가명</span></div>
                                <div class="lu_pri">전회차까지의 이야기</div>
                                <ul class="lu_record">
                                    <li><img src="../img/count_view.png" alt="조회수">1003명</li>
                                    <li><img src="../img/count_book.png" alt="구독">12회차</li>
                                    <li><img src="../img/count_good.png" alt="추천">50회</li>
                                </ul>
                                <div class="lu_tag">
                                    <div class="lu_tagcards">#현대</div>
                                    <div class="lu_tagcards">#무협</div>
                                    <div class="lu_tagcards">#막장</div>
                                    <div class="lu_tagcards">#판타지</div>
                                    <div class="lu_update">24분전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                <div class="serialized_reply">
                    <h3>내가 단 댓글 목록</h3>
                    <hr class="reply_line">
                    <hr class="reply_line">
                    <div class="reply">
                        <div class="novel_where">
                            <h4>막장 연대기</h4>
                            <div class="reply_where">[ 댓글 회차 : 3화 ]</div>
                        </div>
                        <div class="reply_date">08.21 수정됨</div>
                        <div class="reply_memo">에반데</div>
                        <div class="reply_my">
                            <div class="reply_delete reply_box">■ 삭제</div>
                            <div class="reply_amend reply_box">◎ 수정</div>
                            <div class="re_reply reply_box"><span>△</span> 대댓글 (1건)</div>
                        </div>
                    </div>
                    <div class="reply">
                        <div class="novel_where">
                            <h4>막장 연대기</h4>
                            <div class="reply_where">[ 댓글 회차 : 3화 ]</div>
                        </div>
                        <div class="reply_date">08.21 수정됨</div>
                        <div class="reply_memo">에반데</div>
                        <div class="reply_my">
                            <div class="reply_delete reply_box">■ 삭제</div>
                            <div class="reply_amend reply_box">◎ 수정</div>
                            <div class="re_reply reply_box"><span>△</span> 대댓글 (1건)</div>
                        </div>
                    </div>
                    <div class="rereply_zone">
                        <div class="reply_arrow">
                            <img src="../img/arrow_right.png" alt="#">
                        </div>
                        <div class="reply to_reply">
                            <div class="user_nick">
                                <div class="user_pic"><img src="../img/profill.png" alt="프로필"></div>
                                <div class="nickname">작성자</div>
                            </div>
                            <div class="reply_date">08.21 수정됨</div>
                            <div class="reply_where">댓글 회차 : 3화</div>
                            <div class="reply_pic"><img src="../img/profill.png" alt=""></div>
                            <div class="reply_memo">진짜임?<br>에반데<br>에반데</div>
                            <div class="reply_gb">
                                <div class="reply_singo reply_box">■신고</div>
                                <div class="reply_bad reply_box"><img src="../img/bad.png" alt="비추">비추(0건)</div>
                                <div class="reply_good reply_box"><img src="../img/good.png" alt="추천">추천(10건)</div>
                                <div class="re_reply reply_box"><span>△</span> 대댓글 (1건)</div>
                            </div>
                        </div>
                    </div>
                    <div class="reply_more">
                        <div class="reply_add">댓글 더보기</div>
                    </div>
                </div>


        <!------------ 콘텐츠 영역  ------------------>
            </div>
        </div>
    </div>
    <footer>
        <div class="notice">
            <div class="notice_frame">
                <span class="notice_memo_gong"><b>공지</b></span>
                <div class="new_gong">new</div>
                <span class="notice_memo">정기 시스템 점검 예정 (AM 01:00 - 04:00)</span>
            </div>
        </div>
        <div class="footer_info">
            <div class="footer_info_frame">
                <div class="copyright">
                    <div class="mono_logo"> 
                        <img src="../img/mono_logo.png">
                    </div>
                    <ul class="copyright_c">
                        <li>본 사이트의 등록된 컨텐츠는 사이트 및 원 저작자에게 권리가 있는 컨텐츠이며, 무단 복제/전송/수정/배포는 법적 처벌을 받을 수 있습니다.</li>
                        <li><span class="copyright_c_mini">Copyright(c) 노벨넷 2022. All rights reserved</span></li>
                    </ul>
                </div>
                <ul class="copyright_memo">
                    <li>주식회사 노벨넷 대표 김정현 사업자등록번호 210-81-75711 통신판매업 제2021-김제요촌-013145호</li>
                    <li>주소 김제시 요촌동 81-42번지, T플로어 3층</li>
                    <li>고객센터 : 063-588-0011 helpNovel@gmail.com 운영시간 AM10:00 - PM 06:00 (휴게시간 PM 0:30 - 2:00)</li>
                </ul>
            </div>  
        </div>
    </footer>
    
</body>
</html>