<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>노블넷</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/js.js"></script>
    <script src="/js/summernote/summernote-ko-KR.js"></script>
    <script src="/js/summernote/summernote-lite.js"></script>
    <script src="/js/reWrite.js"></script>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
</head>
<body>
    <!-- 모달 레이아웃 -->
    <div class="modal_layout" th:replace="include/header.html :: modal_layout"></div>
    <!-- 모달 레이아웃 -->
    <div class="wrap">
        <header th:replace="include/header.html :: header"></header>
        <div class="contents">
            <div class="main_content">
        <!------------ 콘텐츠 영역   ------------------>
                <div class="write_zone">
                    <form method="post" action="/novelnet/reWriteForm" id="writeForm">
                        <input type="hidden" name="Write_number" th:value="${param.n_num}">
                        <input type="hidden" name="Write_chapter"th:value="${param.chapter}">
                        <input type="hidden" name="sort" th:value="${param.sort}">
                        <input type="hidden" name="page" th:value="${param.page}">
                        <div class="write_title">
                            <h4>제목 : </h4>
                            <input type="text" name="write_title" id="write_title" th:value="${memoVo.m_title}" maxlength="900">
                            <select name="write_type" class="wirte_type">
                                <option value="ep"   th:selected="${memoVo.m_type}=='ep'" >일반글</option>
                                <option value="gong" th:selected="${memoVo.m_type}=='gong'">공지</option>
                            </select>
                        </div>
                        <div class="write_area">
                            <textarea id="summernote" name="write_memo" th:text="${memoVo.m_memo}"></textarea>
                        </div>
                        <div class="write_submit">
                            <span>※ 운영 약정에 위반한 글은 규정에 따라 삭제 혹은 블록 처리 될 수 있습니다.</span>
                            <input type="button" value="등록" class="write_uploads">
                        </div>
                    </form>
                </div>
        <!------------ 콘텐츠 영역  ------------------>
            </div>
        </div>
    </div>
    <footer th:replace="include/footer.html :: footer_layout"> </footer>
    
</body>
</html>